<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hogwarts Student Tracker</title>
  <link rel="stylesheet" href="/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">


</head>
<body>
<header>
<div id="left-align">
   <nav>
     <ul>
      <li><a href="/students">HOME</a></li>
      <li><a href="/students/new">NEW STUDENT</a></li>
     </ul>
   </nav>
  <h1>Student Enrollment System</h1>
    <h2>Hogwarts School of Witchcraft and Wizardry</h2>
</div>
    <img class="emblem" src="/hogwarts_logo.png" alt="Hogwarts Emblem">
</header>

  <div id="content">
     <a href="/students/new"><div id="create-new">
        ADD STUDENT
     </div></a>
    <%= yield %>
  </div>
</body>
</html>
